<div class="body">
  <h1>Editing book</h1>

  <%= form_for(@book) do |f| %>

    <div class="new_book_title">
      <h6>Title</h6>
      <%= f.text_field :title %>
    </div>

    <div class="new_book_body">
      <h6>Body</h6>
      <%= f.text_area :body %>
    </div>
    <div class="new_book_submit">
      <%= f.submit'Update Book' %>
    </div>

  <% end %>
  <div class="show_edit_back">
     <%= link_to 'Show', book_path %> |<%= link_to 'Back', books_path %>
  </div>
</div>
